* {
	font-family: Georgia, "Times New Roman";
	width:100%;
}

#likeranking-container {
	display: inline-block;
}

#genericranking-container {
	display: inline-block;
}

.spacing {
	display: inline-block;
	width:300px;
}

#feedranking-container {
	margin-left: auto;
	margin-right: auto;
}