#{extends 'main.html' /}
#{set title:'Home' /}
#{fbg.scriptAsync /}


<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/recommendation.css'}" />
<div class = "container">
<div id="question"><h3>Which topic can you picture yourself having a conversation with?</h3></div>
<form name="choice1Form" action="/submitChoice" id="submitChoice" method="POST" accept-charset="utf-8" enctype="multipart/form-data">
<input type="hidden" name="choiceId" value="${choice.id}" />
<input type="hidden" name="selection" value="0" />
</form>
<a href="#" onclick="document.forms['choice1Form'].submit(); return false;">
	<div id ="wrapper" width="940px">
		<div id="topic-1" class="topic">
		%{
			topic = choice.recommendations.get(0).topic
			String topicNoLinks = topic.description;
			StringBuffer newContent = new StringBuffer(topicNoLinks);
			int index = newContent.indexOf("<");
			while(index >=0)
			{
				int endIndex = newContent.indexOf(">", index);
				newContent = newContent.delete(index, endIndex+1);
				index = newContent.indexOf("<");
			}
			String finalContent = newContent.toString();
		}%
		<div class="topic-title">${topic.title}</div>
		<br/>		
		<div class="topic-description">${finalContent}</div>
		</a>
		</div>

<form name="choice2Form" action="/submitChoice" id="submitChoice" method="POST" accept-charset="utf-8" enctype="multipart/form-data">
<input type="hidden" name="choiceId" value="${choice.id}" />
<input type="hidden" name="selection" value="1" />
</form>
<a href="#" onclick="document.forms['choice2Form'].submit(); return false;">
		<div id="topic-2" class="topic">
		%{
			topic = choice.recommendations.get(1).topic
			String topicNoLinks2 = topic.description;
			StringBuffer newContent2 = new StringBuffer(topicNoLinks2);
			int index2 = newContent2.indexOf("<");
			while(index2 >=0)
			{
				int endIndex2 = newContent2.indexOf(">", index2);
				newContent2 = newContent2.delete(index2, endIndex2+1);
				index2 = newContent2.indexOf("<");
			}
			String finalContent2 = newContent2.toString();
		}%
		<div class="topic-title">${topic.title}</div>
		<br/>
		<div class="topic-description">${finalContent2}</div>
		</a>
		</div>
		<script type="text/javascript">
	    function facebookLogoutNow() {
	          window.location = "@{Application.facebookLogout()}";
	    }
	</script>	
</div>

<div class="logoutButton">
	<button type="button" onclick="facebookLogoutNow()">Logout</button>
</div>
	

