#{extends 'main.html' /}
#{set title:'Home page' /}
#{fbg.scriptAsync /}



<div class = "container">
	<form class="form-inline" action="@{Application.friendSelected()}">
	<label>Select a friend to generate conversation topics</label>
		<select name="friendName">
			%{
				for (int i =0; i<FriendsJsonArray.size(); i++)
				   out.print("<option value=" + FriendsJsonArray.get(i).getAsJsonObject().get('id').toString() + ">" +FriendsJsonArray.get(i).getAsJsonObject().get("name").toString().replaceAll("\"","")+'</option>');
				
			}%
		</select>
		<button type="submit" class="btn">Select Friend</button>
	</form>
</div>