#{extends 'main.html' /}
#{set title:'Home page' /}
#{fbg.scriptAsync /}



 <div class = "container">

<div class="well">
		<form class="form-inline">
			<img src="@{'public/images/favicon.png'}"/><b>${t1t}</b>
		<div class="floatRight">
		<button type="submit" class="btn btn-success">Select Topic</button>
		</div>
		</form>
		<blockquote>
			%{
				out.write(t1d);
			}%
			//${t1d}
		</blockquote>
	</div>	
	
	
	
	
	<div class="well">
		<form class="form-inline">
			<img src="@{'public/images/favicon.png'}"/><b>${t2t}</b>
		<div class="floatRight">
		<button type="submit" class="btn btn-success">Select Topic</button>
		</div>
		</form>
		<blockquote>
			${t2d}
		</blockquote>
	</div>	
	
	<div class="well">
		<form class="form-inline">
			<img src="@{'public/images/favicon.png'}"/><b>${t3t}</b>
		<div class="floatRight">
		<button type="submit" class="btn btn-success">Select Topic</button>
		
		</div>
		</form>
		<blockquote>
			${t3d}
		</blockquote>
	</div>	
	
	
</div>