#{extends 'main.html' /}
#{set title:'Home page' /}
#{fbg.scriptAsync /}



 <div class = "container">

<div class="well">
		<form class="form-inline" action="@{Application.displayFriends()}">
			<img src="@{'public/images/favicon.png'}"/><b>${t1t}</b>
		<div class="floatRight">
		<button type="submit" class="btn btn-success">Select Topic</button>
		</div>
		<div>
			%{
				out.write(t1d);
			}%
		</div>
	</div>	
	
	
	
	
	<div class="well">
		<form class="form-inline" action="@{Application.displayFriends()}">
			<img src="@{'public/images/favicon.png'}"/><b>${t2t}</b>
		<div class="floatRight">
		<button type="submit" class="btn btn-success">Select Topic</button>
		</div>
		</form>
		<div>
			%{
				out.write(t2d);
			}%
		</div>
	</div>	
	
	<div class="well">
		<form class="form-inline" action="@{Application.displayFriends()}">
			<img src="@{'public/images/favicon.png'}"/><b>${t3t}</b>
		<div class="floatRight">
		<button type="submit" class="btn btn-success">Select Topic</button>
		
		</div>
		</form>
		<div>
			%{
				out.write(t3d);
			}%
		</div>
	</div>	
	
	
</div>